/*** Remove for your project ***/
header {
    background: #F44336;
    min-height: 5rem;
    padding: 1rem;

    h1 {
        color: white;
        font-size: 2rem;
        margin: 0;
    }
}


/*** /Remove for your project ***/
