/*** Remove for your project ***/
.wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
  
}

.wrapper > * {
  flex: 1 100%;
}


header {
    background: $primary-color;
    min-height: 5rem;
    padding: 1rem;

    h1 {
        color: $quaternary-color;
        font-size: 2rem;
        margin: 0;
    }
}

.menu {
    min-height: calc(100vh - 5rem);
    width: 20%;
    background: $secondary-color;
    flex: 1 0px;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        border-bottom: 1px solid $tertiary-color;
        padding: 1rem;
        margin: 0;
        cursor: pointer;

        &:hover, &.active {
            background: $tertiary-color;
            color: white;
            border-bottom: 1px solid white;
        }
    }

}

.main {
    flex: 4 0px;
    padding: 10px;
}

.gallery-view {
    .columns {
        margin-left: 0;
    }
}


/*** /Remove for your project ***/
