/*** Remove for your project ***/


body {
    //pxtorem test
    min-height:800px;
    border: 1px solid #ccc;
    border-width:1px;
    @media (min-width:769px) {
        border-width:2px;
    }
}

header {
    background: $primary-color;
    min-height: 5rem;
    padding: 1rem;

    h1 {
        color: $quaternary-color;
        font-size: 2rem;
        margin: 0;
        max-width: calc(100% - 3rem);
        display: inline-block;
    }

    button {
        float:right;
        margin:0;
        @media (#{$bp-larger-than-tablet}) {
            display:none;
        }
        &.button-primary {
            background-color:lighten($primary-color, 20);
            &:focus {
                background-color:lighten($primary-color, 20);
            }
        }
    }
}


/* Menú RWD Animations */

@keyframes menuOut {
  0% {
    transition-timing-function: ease-in;
    transform: scaleY(1);
  }

  10% {
    transition-timing-function: ease-in;
    transform: scaleY(1.1);
  }

  100% {
    transform: scaleY(0);
  }
}

@keyframes menuIn {
  0% {
    transition-timing-function: ease-in;
    transform: scaleY(0);
  }
  90% {
    transform: scaleY(1.05);
  }

  100% {
    transform: scaleY(1);
  }
}

.menu {
    width:100%;
    background-color:$secondary-color;
    transform-origin: 0% 0%;
    position: absolute;
    @media (#{$bp-larger-than-tablet}) {
        position:static;
    }
        &.ng-hide-add { animation:0.5s menuOut ease; }

        &.ng-hide-remove { animation:0.5s menuIn ease; }


        /* RWD */
        &.ng-hide, &.ng-hide.animate {

            @media (#{$bp-larger-than-tablet}) {
                display:block !important;
            }
        }

    ul {
        list-style: none;
        margin:0;
        padding:0;

        li {
            padding:0.5rem 1rem;
            cursor:pointer;
            margin:0;
            @media (#{$bp-larger-than-tablet}) {
                padding-right:1rem;
                width:auto;
                display:inline-block;
            }
            &.active {
                background-color: lighten($secondary-color, 20);
            }
        }
    }
}


.gallery-view {
    .columns {
        margin-left: 0;
    }
}


/*** /Remove for your project ***/
